{
    -fx-background-color: black;
}

.button{
    -fx-background-color: #343434;
    -fx-text-fill: white;
    -fx-background-radius: 100%;
    -fx-pref-width: 35px;
}



.label{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-text-alignment: right;
}


#clear{
    -fx-background-color: #4f4f4f;
    -fx-text-fill: white;
}

#divide, #multiply, #minus, #plus, #equals{
    -fx-background-color: #fdb533;
    -fx-text-fill: white;
}
